.metrics-block{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    height: 40vh;
    margin-top: 20px;
}

.metric{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.metric-label{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.metric-value{
    font-size: 16px;
}