:root {
    width: 100%;
    line-height: 1;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "Noto Sans";
    background: rgb(233, 246, 247);
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
    color: black;
}

nav, footer, header, aside {
    display: block;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

p {
    line-height: 1.5;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    height: 100%;
}

button{
    padding: 10px 20px;
    background-color: rgb(60, 121, 125);
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

button:hover{
    background-color: rgba(60, 121, 125, 0.7);
}