.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    position: relative;
    height: 87vh;
    border: 1px solid rgb(74, 117, 133);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.input-container-analyzed{
    background-color: rgb(237, 240, 245);
    height: 45vh;
}

.input-container textarea{
    width: 100%;
    height: 100%;
    font-size: 18px;
    resize: none;
}

.input-container textarea::placeholder{
    font-size: 18px;
}

.input-container-analyzed textarea{
    background-color: rgb(237, 240, 245);
}

.input-container-analyzed textarea::-webkit-scrollbar {
    background: rgb(237, 240, 245);;
    border-radius: 4px;
    width: 5px;
}

.input-container-analyzed textarea::-webkit-scrollbar-thumb{
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
}

.input-container-analyzed textarea::placeholder{
}

.input-file{
    display: inline-flex;
    position: relative;
    padding: 10px 15px;
    gap: 5px;
    cursor: pointer;
    justify-self: flex-start;
}

.input-file p{
    font-size: 16px;
    color: rgb(74, 117, 133);
}

.input-file p:hover{
    filter: brightness(0.6);
}

.input-file input{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
}

.input-bottom{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.form-error{
    font-size: 12px;
    color: red;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.cross-icon{
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    z-index: 20;
    padding: 2px;
}

.text-stats{
    display: flex;
    gap: 20px;
}

.text-stats span{
    font-size: 16px;
}

.reset-button{
    color: red;
    cursor: pointer;
    font-size: 18px;
}