.greeting-page{
    width: 100%;
    height: 100%;
}

.greeting-page-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
}

.cefr-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    pointer-events: none;
    z-index: -1;
}

.cefr-orb{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 120px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    backdrop-filter: blur(8px);
    opacity: 0.15;
}

.orb-1 {
    top: 1%;
    left: 1%;
}

.orb-2 {
    top: 3%;
    right: 1%;
}

.orb-3 {
    top: 45%;
    left: -15%;
}

.orb-4 {
    top: 80%;
    left: 30%;
}

.orb-5 {
    top: 70%;
    right: 8%;
}

.orb-6 {
    top: 40%;
    right: -15%;
}

.orb-7 {
    top: 30%;
    left: 35%;
}

.orb-8 {
    top: 50%;
    left: 50%;
}

.orb-9 {
    top: 20%;
    left: 65%;
}

.orb-10 {
    top: 85%;
    right: -10%;
}

.orb-11 {
    top: 83%;
    left: 3%;
}

.orb-12 {
    top: 12%;
    right: 65%;
}

.orb-1, .orb-7{
    color: rgba(196, 191, 73,0.3);
    -webkit-text-stroke: 4px rgb(196, 191, 73);
}

.orb-2, .orb-8{
    color: rgba(245, 161, 51, 0.3);
    -webkit-text-stroke: 4px rgb(245, 161, 51);
}

.orb-3, .orb-9{
    color: rgba(121, 232, 118, 0.3);
    -webkit-text-stroke: 4px rgb(121, 232, 118);
}

.orb-4, .orb-10{
    color: rgba(48, 122, 47, 0.3);
    -webkit-text-stroke: 4px rgb(48, 122, 47);
}

.orb-5, .orb-11{
    color: rgba(190, 118, 227, 0.3);
    -webkit-text-stroke: 4px rgb(190, 118, 227);
}

.orb-6, .orb-12{
    color: rgba(173, 15, 186, 0.3);
    -webkit-text-stroke: 4px rgb(173, 15, 186);
}

.greeting-page h1{
    font-size: 64px;
}

.greeting-page p{
    font-size: 23px;
}