header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgb(74, 117, 133);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}

.header-stat{
    font-size: 18px;
    cursor: pointer;
    color: white;
}

.header-stat:hover{
    text-decoration: underline;
}